@model IEnumerable<UniRitterDemo.Models.LivroIndexModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Fonte
        </th>
        <th>
            AnoPublicacao
        </th>
        <th>
            Editora
        </th>
        <th>
            AutorNome
        </th>
        <th>
            GeneroNome
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fonte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoPublicacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutorNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneroNome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
